*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header-contenedor{
  overflow: hidden;
  background-color: #E7F2EF;
  padding: 20px 10px;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100vw;
  position: fixed;
}
.link-contenedor{
    padding: 0 80px;
    display: flex;
    gap: 50px;
}
.link{
    color: #19183B;
    text-decoration: none;
    font-weight: bold;
}

.link:hover{
    color: #708993;
    text-decoration-line: underline;
}
.menu-toggle{
    display: none;
}
@media (max-width: 768px) {
  .link-contenedor {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .header-contenedor {
    justify-content: space-between;
  }
}

