@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Meow+Script&family=Oswald:wght@200..700&family=Pacifico&display=swap');


.contenedor-principal{
    background-color:#E7F2EF ;
    height: 1300px;
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: space-around;
    
}
.img-principal{
    height: 600px;
    width: 600px;
    justify-content: center;
    color: #19183B;
}

.contenedor-texto{
    height: 50%;
display: flex;
flex-direction: column;
text-align: center;
justify-content: center;
}
.titulo-principal{
font-family: "Oswald", sans-serif;
font-size: 90px;
letter-spacing: 20px;
word-spacing: 30px;
line-height: 1.0;
}
p{
    color: black;
    padding: 30px;
    font-size: 40px;
}

@media (max-width: 768px) {
    .contenedor-principal{
        flex-direction: column;
        height: 2600px;
        margin: 0;
    }
}
