.container{
    background-image: url(../../assets/img/fondo.jpg);
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-buscador{
    height: 50px;
    width: 500px;
    border: 7px solid black;
    border-radius: 20px;
    padding: 10px;
}
.input-buscador:hover{
    height: 70px;
    width: 550px;
    border: 7px solid black;
    border-radius: 20px;
}

::placeholder {
    text-align: center;
    font-size: 20px;
    color: #2d2c2e;
    }

.input-buscador:focus::placeholder {
  color: transparent;
}
.lupa-buscador{
    color: white;
    font-size: 40px;
}